.layout__private {
  position: relative;
  z-index: 3;
  overflow: hidden;
  padding: 0;
  height: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: row;

  background-color: var(--color-border);
}
