.layout__detalles,
.spinner__evento {
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding: 0;
  height: 100%;
}

.layout__detalles::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 60rem;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--color-banner);
  z-index: -1;
}

.spinner__evento {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ESTILO DEL HEADER DE DETALLES */
.detalles__header {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.detalles__title {
  display: inline-block;
  color: var(--color-bg-btn);
  font-size: 5.5rem;
  font-weight: 700;
}

/* ESTILO PARA EL CONTENIDO DEL DETALLE DEL EVENTO */
.detalles__content {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  padding: 2rem 3rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--color-secondary);
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
}

/* ESTILOS DE LA PARTE IZQUIERDA DEL EVENTO */
.detalles__container-img {
  width: 60rem;
  display: flex;
  justify-content: center;
}
.detalles__imagen {
  width: 100%;
  border-radius: 10px;
}

.detalles__author {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 10px -4px var(--color-border);
  border-radius: 10px;
  gap: 1rem;
  padding: 2rem;
  pointer-events: none;
  margin-bottom: 1rem;
}

.author__nombre strong {
  text-transform: capitalize;
}

.author__nombre {
  font-size: 2rem;
}

.author__imagen {
  position: relative;
  width: 8%;
  border-radius: 50%;
}

/* ESTILOS DE LA PARTE DEL MEDIO */
.content__dmiddle {
  flex-basis: 50%;
  height: 100rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 4rem;
  gap: 5rem;
}

.detalles__description {
  overflow-x: hidden;
  font-size: 1.8rem;
  transition: all 300ms ease-in-out;
}

.detalles__subtitle {
  font-size: 2.8rem;
  color: var(--color-bg-btn);
  margin-bottom: 1rem;
}

.detalles__tags {
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 10px -4px var(--color-border);
  border-radius: 10px;
  padding: 1.5rem;
  pointer-events: none;
  margin-bottom: 1rem;
  gap: 1.5rem;
}

.detalles__tag-ubicacion {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.detalles__tag-pais {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.detalles__tag-ciudad {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.detalles__tag-localizacion {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.detalles__tag-cuando {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
}

.detalles__tag-fecha {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.8rem;
}

.detalles__tag-tematica {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.8rem;
}

/* ESTILOS DE LA PARTE DERECHA */
.content__dright {
  flex-basis: 30%;
  height: 100rem;
  border-radius: 10px;
  box-shadow: 0 2px 10px -4px var(--color-border);
  background-color: rgba(0, 0, 0, 0.2);
  padding: 2rem;
}

.detalles__inscritos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.inscritos__title {
  color: var(--color-bg-btn);
  text-align: center;
  font-size: 2.2rem;
  font-weight: 500;
  pointer-events: none;
}

.inscritos__lista,
.spinner__lista {
  position: relative;
  overflow-x: hidden;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  width: 90%;
  height: 58rem;
  margin-bottom: 2rem;
  transition: all 300ms ease-in-out;
}

.inscritos__label {
  position: absolute;
  font-size: 1.5rem;
  color: var(--color-bg-btn);
  top: 1rem;
  left: 2rem;
}

.spinner__lista {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inscritos__vacio {
  padding: 2rem;
}

.inscritos__item {
  padding: 1rem 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.inscritos__item:nth-of-type(1) {
  margin-top: 1rem;
}

.inscritos__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.item__avatar {
  width: 10%;
  border-radius: 50%;
}

.item__nombre {
  text-transform: capitalize;
}

.item__usuario {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;
}

.item__eliminar {
  margin-top: 2rem;
}

.inscritos__total {
  pointer-events: none;
}

.eliminar__inscrito {
  cursor: pointer;
  filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.5));
}

/* ESTILO DEL BOTON */
.detalles__btn,
.detalles__btn-disabled {
  position: relative;
  display: flex;
  cursor: pointer;
  z-index: 1;
  border: none;
  overflow: hidden;
  padding: 1rem 0;
  padding-left: 1.5rem;
  padding-right: 2rem;
  background-color: var(--color-secondary);
  border-radius: 20px;
  font-weight: 500;
  text-align: center;
  color: var(--color-primary);
  transition: all 300ms ease-in-out;
}

.detalles__btn-disabled {
  background-color: var(--color-description);
  color: var(--color-border);
  cursor: not-allowed;
}

.detalles__btn:hover {
  background-color: var(--color-bg-btn);
  color: var(--color-bg-dark);
}

/* SCROLL PARA CHROME */
.inscritos__lista::-webkit-scrollbar,
.detalles__description::-webkit-scrollbar,
.detalles__content::-webkit-scrollbar {
  width: 20px;
  background: transparent;
  transition: all 300ms ease-in-out;
}

.inscritos__lista::-webkit-scrollbar-thumb,
.detalles__description::-webkit-scrollbar-thumb,
.detalles__content::-webkit-scrollbar-thumb {
  border: 9px solid transparent;
  box-shadow: none;
  border-radius: 40px;
  transition: all 300ms ease-in-out;
}

.inscritos__lista:hover::-webkit-scrollbar-thumb,
.detalles__description:hover::-webkit-scrollbar-thumb,
.detalles__content:hover::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0 10px var(--color-secondary);
}

.inscritos__lista:hover::-webkit-scrollbar-thumb:hover,
.detalles__content:hover::-webkit-scrollbar-thumb:hover,
.detalles__description:hover::-webkit-scrollbar-thumb:hover {
  border: 8px solid transparent;
  box-shadow: inset 0 0 0 10px var(--color-primary);
}

.inscritos__lista::-webkit-scrollbar-track,
.detalles__content::-webkit-scrollbar-track,
.detalles__description::-webkit-scrollbar-track {
  background: transparent;
  margin: 40px 0;
}

/* SPINNER */
.spinner__detalles {
  position: relative;
  width: 36px;
  height: 36px;
  border: 5px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  border-left-color: var(--color-bg-btn);
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Estilo base para el contenedor del contador */
.contador__content {
  font-size: 1.7rem;
  color: var(--color-bg-btn);
  text-align: center;
  padding: 1rem;
  width: 32rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.contador__item {
  width: 9rem;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

/* Estilo para el número del contador */
.contador__numero {
  font-weight: 500;
  display: block;
  letter-spacing: 0.2rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

/* Estilo para la etiqueta del contador (opcional) */
.countador__text {
  font-size: 1.4rem;
}
