.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
}

.modal {
  position: relative;
  background-color: var(--color-primary);
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.modal-close-button {
  display: none;
}

/* ESTILO FORMULARIO DATOS */

.formulario__actualizar-datos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 3rem;
}

.formulario__eliminar-datos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 3rem;
  margin-top: 2rem;
  gap: 2rem;
}

.actualizar-datos__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actualizar-datos__avatar {
  order: -1;
}

.eliminar__content {
  width: 30rem;
}

/* ESTILOS DE LOS BOTONES */
.btn--primary,
.btn--secondary,
.btn--danger {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
  padding: 2rem 0;
  padding-left: 1.5rem;
  padding-right: 2rem;
  margin-bottom: 3rem;
  background-color: var(--color-secondary);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 20px;
  font-weight: 500;
  text-align: center;
  color: var(--color-primary);
  transition: all 300ms ease-in-out;
}

.btn--primary:hover,
.btn--danger:hover {
  background-color: var(--color-bg-btn);
  color: var(--color-bg-dark);
}

.btn--secondary {
  background-color: var(--color-text-logo);
  color: var(--color-bg-dark);
}

.btn--secondary:hover {
  background-color: var(--color-bg-btn-orange);
  color: var(--color-bg-dark);
}

.modal__actions-eliminar {
  display: flex;
  gap: 2rem;
}
/* ESTILOS PARA LOS CONTENEDORES */
.email__content,
.password__content,
.eliminar__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.email__title {
  pointer-events: none;
  color: var(--color-primary);
  font-size: 2rem;
  font-weight: 500;
}

.password__description,
.datos__description,
.email__description,
.eliminar__description {
  margin-bottom: 2rem;
  color: var(--color-bg-btn);
}

.label__datos {
  font-size: 1.3rem;
  color: var(--color-bg-btn);
  margin-bottom: 0.5rem;
}
/* ESTILOS PARA LOS INPUTS */

.input__email-actualizar,
.input__nombre-actualizar,
.input__apellidos-actualizar,
.textarea__bio-actualizar,
.input__password-actualizar {
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid var(--color-banner);
  border-radius: 10px;
  color: var(--color-secondary);
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
}

.textarea__bio-actualizar {
  resize: none;
}

.input__email-actualizar:focus,
.input__nombre-actualizar:focus,
.input__apellidos-actualizar:focus,
.textarea__bio-actualizar:focus,
.input__password-actualizar:focus {
  outline: 1px solid var(--color-banner);
}
