/* RESPONSIVE DEL HEDADER, FOOTER Y HOMEPAGE */

@media (max-width: 1400px) {
  .banner__title {
    font-size: 4.5rem;
  }
}

@media (max-width: 1300px) {
  .layout {
    min-width: 800px;
  }
}

@media (max-width: 1200px) {
  .banner__title,
  .banner__subtitle {
    font-size: 4rem;
  }

  .layout__footer {
    padding: 0.25rem 5rem;
  }
}

@media (max-width: 1000px) {
  .logo__title {
    font-size: 1.8rem;
  }

  .button-left__login {
    font-size: 2rem;
  }

  .banner__title,
  .banner__subtitle {
    font-size: 3.5rem;
  }

  .button__banner {
    font-size: 2rem;
  }
}

@media (max-width: 870px) {
  .layout {
    min-width: 300px;
  }

  .layout__header {
    flex-wrap: wrap;
    padding: 0.25rem 1rem;
    gap: 1rem;
  }

  .banner__title,
  .banner__subtitle {
    font-size: 3rem;
  }

  .layout__footer {
    font-size: 1.4rem;
    padding: 0.25rem 1rem;
  }
}

@media (max-width: 770px) {
  .layout__header {
    justify-content: space-evenly;
  }
  .search__bar {
    margin-top: 1rem;
    z-index: 2;
    order: 1;
  }

  .banner__subtitle {
    margin-top: 2rem;
  }

  .banner__title {
    text-align: center;
  }

  .layout__footer {
    padding: 1rem 0;
    height: 7rem;
    flex-direction: column;
    gap: 1rem;
  }
}

@media (max-width: 500px) {
  .search__input {
    width: 17rem;
  }
}

@media (max-width: 375px) {
  .search__input {
    width: 14rem;
  }

  .banner__title,
  .banner__subtitle {
    font-size: 2.5rem;
  }

  .banner__description {
    font-size: 1.5rem;
  }

  .eventos__evento {
    width: 30rem;
  }

  .evento__container-img {
    height: 31rem;
  }
}

@media (max-width: 320px) {
  .search__input {
    width: 13rem;
  }
}

/* RESPONSIVE EVENTOSPAGE */
@media (max-width: 1500px) {
  .eventos__title {
    font-size: 5rem;
  }
  .eventos__title-total {
    font-size: 4rem;
  }
}

@media (max-width: 1300px) {
  .eventos__title {
    font-size: 4.5rem;
  }
  .eventos__title-total {
    font-size: 3.5rem;
  }
}

@media (max-width: 1100px) {
  .eventos__title {
    font-size: 4rem;
  }

  .eventos__title-total {
    font-size: 3rem;
  }
}

@media (max-width: 900px) {
  .eventos__title {
    font-size: 3.5rem;
  }
  .eventos__title-total {
    font-size: 2.5rem;
  }
}

@media (max-width: 770px) {
  .eventos__title {
    margin-top: 5rem;
  }

  .ordenar__inscritos {
    margin-bottom: 0;
  }

  .eventos__evento {
    margin-top: 0;
  }
}

@media (max-width: 600px) {
  .eventos__title {
    font-size: 3rem;
  }
}

@media (max-width: 500px) {
  .eventos__title-total {
    font-size: 2rem;
  }
  .ordenar__title {
    font-size: 1.7rem;
  }
}

@media (max-width: 400px) {
  .eventos__title {
    font-size: 2.5rem;
  }
}

@media (max-width: 350px) {
  .eventos__title-total {
    font-size: 1.5rem;
  }
}

/* RESPONSIVE PAGINA DETALLES DEL EVENTO */
@media (max-width: 1500px) {
  .detalles__content {
    flex-wrap: wrap;
  }
}

@media (max-width: 1400px) {
  .detalles__title {
    font-size: 4.5rem;
  }
}

@media (max-width: 1200px) {
  .detalles__title {
    font-size: 4rem;
  }
}

@media (max-width: 1100px) {
  .detalles__title {
    font-size: 3.5rem;
  }

  .detalles__subtitle {
    font-size: 2.5rem;
  }

  .detalles__content {
    height: 81rem;
  }
}

@media (max-width: 900px) {
  .detalles__title {
    font-size: 3rem;
  }

  .detalles__subtitle {
    font-size: 2.2rem;
  }

  .detalles__description {
    font-size: 1.6rem;
  }

  .detalles__content {
    height: 82rem;
  }
}

@media (max-width: 800px) {
  .detalles__title {
    font-size: 2.5rem;
  }
}

@media (max-width: 770px) {
  .detalles__title {
    margin-top: 5rem;
  }

  .detalles__subtitle {
    font-size: 2rem;
  }

  .detalles__description {
    font-size: 1.5rem;
  }

  .detalles__content {
    height: 79rem;
  }
}

@media (max-width: 670px) {
  .detalles__container-img {
    width: 48rem;
  }
}

@media (max-width: 570px) {
  .detalles__content {
    height: 75rem;
  }

  .inscritos__title {
    font-size: 2rem;
  }

  .contador__content {
    margin: 0;
  }

  .contador__item {
    width: 7rem;
  }
}

@media (max-width: 500px) {
  body {
    background-color: red;
  }
}
