/* VARIABLE */
:root {
  --mx-width: 1320px;
  --color-text-body: #525260;
  --color-primary: #5956e9;
  --color-secondary: #fff;
  --color-banner: #2522ba;
  --color-text-btn: hsla(216, 98%, 52%, 0.9);
  --color-bg-toast: rgba(13, 109, 253, 0.9);
  --color-bg-btn: #ffdc60;
  --color-subtitle: #c75c6f;
  --color-title: #292930;
  --color-bg-services: #f8f8f8;
  --color-bg-projects: #ecf2f6;
  --color-bg-dark: #27272e;
  --color-hover-dark: #303035;
  --color-description: #99a1aa;
  --color-border: #e3e6e9;
  --color-text-logo: #ffac79;
  --color-bg-btn-orange: #ff9c1d;
  --color-sidebar: rgba(255, 220, 96, 0.9);
  --color-oscuro: #2d2d2d;
  --thick: 3px;
  --pad: 0.7rem;
  --extra: calc(var(--pad) * 1.2);
  --color: #f26522;
  --color-caducado: rgba(244, 67, 54, 0.5);
}

/* ESTILOS GENERALES */
html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 1.6rem;
  font-family: "DM Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--color-text-body);
  display: flex;
  flex-direction: column;
}

.layout {
  width: 100%;
  min-width: 1200px;
  height: 100%;
}

/* HEADER */
.layout__header {
  width: 100%;
  height: 6.5rem;
  padding: 0.25rem 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  position: relative;
  display: flex;
}

.logo__title {
  font-size: 2rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  color: var(--color-primary);
  transition: all 500ms ease-in-out;
}

.logo__title:hover {
  color: var(--color-banner);
}

/* BOTON LOGIN */
.button-left__login {
  color: var(--color-bg-dark);
  padding: var(--pad) var(--extra);
  display: inline-block;
  border: var(--thick) solid transparent;
  position: relative;
  font-size: 2.2rem;
  cursor: pointer;
  letter-spacing: 0.07rem;
  text-align: center;
  line-height: calc(var(--pad) * 2.2);
  margin-bottom: 1.5rem;
}

.text__login {
  transform: translate3d(0, var(--pad), 0);
  display: block;
  transition: transform 0.4s cubic-bezier(0.2, 0, 0, 1) 0.4s;
}

.button-left__login:after {
  position: absolute;
  content: "";
  bottom: calc(-4 * var(--thick));
  left: var(--extra);
  right: var(--extra);
  height: var(--thick);
  background: var(--color-primary);
  transition: transform 0.8s cubic-bezier(1, 0, 0.37, 1) 0.2s,
    right 0.2s cubic-bezier(0.04, 0.48, 0, 1) 0.6s, left 0.4s cubic-bezier(0.04, 0.48, 0, 1) 0.6s;
  transform-origin: left;
}

.login__line {
  position: absolute;
  background: var(--color-primary);
}

.login__line.-right,
.login__line.-left {
  width: var(--thick);
  bottom: calc(-4 * var(--thick));
  top: calc(-1 * var(--thick));
  transform: scale3d(1, 0, 1);
}

.login__line.-top,
.login__line.-bottom {
  height: var(--thick);
  left: calc(-1 * var(--thick));
  right: calc(-1 * var(--thick));
  transform: scale3d(0, 1, 1);
}

.login__line.-right {
  right: calc(-1 * var(--thick));
  transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.23s;
  transform-origin: top;
}

.login__line.-top {
  top: calc(-1 * var(--thick));
  transition: transform 0.08s linear 0.43s;
  transform-origin: left;
}

.login__line.-left {
  left: calc(-1 * var(--thick));
  transition: transform 0.08s linear 0.51s;
  transform-origin: bottom;
}

.login__line.-bottom {
  bottom: calc(-4 * var(--thick));
  transition: transform 0.3s cubic-bezier(1, 0, 0.65, 1.01);
  transform-origin: right;
}

.button-left__login:hover,
.button-left__login:active .text__login {
  transform: translate3d(0, 0, 0);
  transition: transform 0.6s cubic-bezier(0.2, 0, 0, 1) 0.4s;
}

.button-left__login:hover:after,
.button-left__login:active:after {
  transform: scale3d(0, 1, 1);
  right: calc(-1 * var(--thick));
  left: calc(-1 * var(--thick));
  transform-origin: right;
  transition: transform 0.2s cubic-bezier(1, 0, 0.65, 1.01) 0.17s,
    right 0.2s cubic-bezier(1, 0, 0.65, 1.01), left 0s 0.3s;
}

.button-left__login:hover .login__line,
.button-left__login:active .login__line {
  transform: scale3d(1, 1, 1);
}

.button-left__login:hover .login__line.-right,
.button-left__login:active .login__line.-right {
  transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.2s;
  transform-origin: bottom;
}

.button-left__login:hover .login__line.-top,
.button-left__login:active .login__line.-top {
  transition: transform 0.08s linear 0.4s;
  transform-origin: right;
}

.button-left__login:hover .login__line.-left,
.button-left__login:active .login__line.-left {
  transition: transform 0.08s linear 0.48s;
  transform-origin: top;
}

.button-left__login:hover .login__line.-bottom,
.button-left__login:active .login__line.-bottom {
  transition: transform 0.5s cubic-bezier(0, 0.53, 0.29, 1) 0.56s;
  transform-origin: left;
}

/* ESTILOS PARA EL MENU */
.button-left {
  position: relative;
  z-index: 4;
}

.menu__list {
  display: flex;
  align-items: center;
}

.menu__item {
  position: relative;
  width: 4.5rem;
  height: 4.5rem;
}

.menu__boton-sidebar {
  display: flex;
  align-items: center;
}

.menu__bars,
.menu__close {
  position: absolute;
  display: none;
  cursor: pointer;
  font-size: 4rem;
  padding: 0.5rem;
  border: 1px solid var(--color-border);
  box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.menu__vertical {
  display: none;
  background-color: var(--color-description);
  height: 50px;
  margin-left: 1rem;
  margin-right: 1rem;
  width: 1px;
}

/*IMG AVATAR*/
.avatar__img {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  object-fit: cover;
  border: 1px solid var(--color-border);
  border-radius: 50%;
  transition: all 500ms ease-in-out;
}

.avatar__img:hover {
  border: 1px solid var(--color-description);
}

/* ESTILOS PARA EL SUBMENU */
.user__submenu {
  position: absolute;
  min-width: 15rem;
  padding: 1.5rem 1rem;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: var(--color-secondary);
  box-shadow: 0px 13px 48px 0 rgba(0, 0, 0, 15%);
  top: 5.2rem;
  right: -5rem;
}

.submenu__item {
  margin-left: 1rem;
  margin-bottom: 1rem;
  transition: all 300ms ease-in-out;
}

.submenu__item:hover {
  transform: translateX(1rem);
}

.submenu__item:nth-child(1) {
  transition-delay: 100ms;
}

.submenu__item:nth-child(2) {
  transition-delay: 200ms;
}

.submenu__item:nth-child(3) {
  transition-delay: 300ms;
}

.submenu__link {
  color: var(--color-bg-dark);
  cursor: pointer;
}

.submenu__link:hover {
  color: var(--color-banner);
  text-decoration: underline;
}

/* ESTILOS DEL TOOL BUSCADOR */
.search__bar {
  display: flex;
}

.search__boton {
  width: 4rem;
  height: 4rem;
  overflow: hidden;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  border: 1px solid var(--color-banner);
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  transition: all 500ms ease-in-out;
  cursor: pointer;
}

.search__boton:hover {
  background-color: var(--color-banner);
}

.search__btn {
  font-size: 3.5rem;
  filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.5));
}

.search__tematica {
  border: 1px solid var(--color-description);
  border-right: none;
  box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  transition: all 500ms ease-in-out;
}

.search__tematica:hover {
  border: 1px solid var(--color-primary);
}

.search__ciudad {
  border: 1px solid var(--color-description);
  box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.1);
  transition: all 500ms ease-in-out;
}

.search__ciudad:hover {
  border: 1px solid var(--color-primary);
}

.search__input {
  width: 20rem;
  padding: 0 1rem;
}

.search__input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search__input:focus {
  outline: 1px solid var(--color-banner);
}

/* FOOTER */

.layout__footer {
  width: 100%;
  height: 5rem;
  border-top: 1px solid var(--color-border);
  padding: 0.25rem 15rem;
  font-size: 1.7rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer__copyright {
  flex-basis: 50%;
}

.copyright__text {
  display: inline-block;
}

.footer__links {
  flex-basis: 50%;
}

.footer__flinks {
  position: relative;
  display: flex;
  justify-content: flex-end;
  gap: 3.5rem;
}

.flinks__title {
  color: var(--color-text-body);
  transition: all 300ms ease-in-out;
}

.flinks__title:hover {
  color: var(--color-banner);
}

.flinks__item {
  display: inline-block;
  position: relative;
}

.flinks__item--separator::after {
  content: "";
  height: 4px;
  width: 4px;
  background-color: var(--color-text-body);
  border-radius: 50%;
  position: absolute;
  top: 46%;
  right: -12%;
}

/* ESTILOS GENERALES DEL BOTON */

.button-text {
  margin-right: 2.5rem;
}

/* ESTILOS DE SPINNER */
.spinner {
  position: absolute;
  width: 36px;
  height: 36px;
  border: 5px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  border-left-color: var(--color-bg-btn);
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* ESTILOS PARA EL MENSAJE DE ELIMINAR DEL TOAST */
.mensaje__eliminar {
  background-color: var(--color-text-btn);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  width: max-content;
  margin-top: 10rem;
  border-radius: 15px;
}

.eliminar__title {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  color: var(--color-bg-btn);
  margin-bottom: 2rem;
}

.eliminar__botones {
  display: flex;
  justify-content: space-evenly;
}

.eliminar__btn {
  background-color: var(--color-text-body);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  color: var(--color-secondary);
  padding: 1rem;
  width: 5rem;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.eliminar__btn:hover {
  background-color: var(--color-hover-dark);
}
