/* VARIABLE */
:root {
  --mx-width: 1320px;
  --color-text-body: #525260;
  --color-primary: #5956e9;
  --color-secondary: #fff;
  --color-banner: #2522ba;
  --color-text-btn: #0d6efd;
  --color-bg-btn: #ffdc60;
  --color-subtitle: #c75c6f;
  --color-title: #292930;
  --color-bg-services: #f8f8f8;
  --color-bg-projects: #ecf2f6;
  --color-bg-dark: #27272e;
  --color-hover-dark: #303035;
  --color-description: #99a1aa;
  --color-border: #e3e6e9;
  --color-text-logo: #ffac79;
}

/* ESTILOS GENERALES */
html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  font-family: "DM Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--color-text-body);
}

.layout {
  width: 100%;
  min-width: 1200px;
  height: 100%;
}

/* HEADER */
.layout__header {
  width: 100%;
  height: 6rem;
  padding: 1.5rem 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  position: relative;
  flex-basis: 20%;
  display: flex;
}

.logo__title {
  font-size: 2rem;
  color: var(--color-text-logo);
}

.search__bar {
  display: flex;
  flex-direction: row;
  flex-basis: 40%;
}

/* BOTON LOGIN */
.login__btn {
  display: inline-block;
  position: relative;
  cursor: pointer;
  z-index: 1;
  border: none;
  overflow: hidden;
  padding: 1rem 0;
  padding-left: 1.5rem;
  padding-right: 2.5rem;
  background-color: var(--color-text-logo);
  border-radius: 20px;
  font-weight: 500;
  text-align: center;
  color: var(--color-primary);
  transition: all 150ms ease-in-out;
}

.login__btn:hover {
  background-color: var(--color-bg-btn);
  color: var(--color-bg-dark);
}

/* FOOTER */

.layout__footer {
  width: 100%;
  height: 5rem;
  border-top: 1px solid var(--color-border);
  padding: 1.5rem 15rem;
  font-size: 1.7rem;
  display: flex;
  flex-direction: row;
}

.footer__copyright {
  flex-basis: 50%;
}

.copyright__text {
  display: inline-block;
}

.footer__links {
  flex-basis: 50%;
}

.footer__flinks {
  position: relative;
  display: flex;
  justify-content: flex-end;
  gap: 3.5rem;
}

.flinks__title {
  color: var(--color-text-body);
  transition: all 300ms ease-in-out;
}

.flinks__title:hover {
  color: var(--color-banner);
}

.flinks__item {
  display: inline-block;
  position: relative;
}

.flinks__item--separator::after {
  content: "";
  height: 4px;
  width: 4px;
  background-color: var(--color-text-body);
  border-radius: 50%;
  position: absolute;
  top: 46%;
  right: -12%;
}

/* ESTILOS GENERALES DEL BOTON */

.button-text {
  margin-right: 2.5rem;
}
