/* VARIABLE */
:root {
  --mx-width: 1320px;
  --color-text-body: #525260;
  --color-primary: #5956e9;
  --color-secondary: #fff;
  --color-banner: #2522ba;
  --color-text-btn: #0d6efd;
  --color-bg-btn: #ffdc60;
  --color-subtitle: #c75c6f;
  --color-title: #292930;
  --color-bg-services: #f8f8f8;
  --color-bg-projects: #ecf2f6;
  --color-bg-dark: #27272e;
  --color-hover-dark: #303035;
  --color-description: #99a1aa;
  --color-border: #e3e6e9;
  --color-text-logo: #ffac79;
  --color-bg-btn-orange: #ff9c1d;
  --color-sidebar: rgba(255, 220, 96, 0.9);
}

/* ESTILOS GENERALES */
html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  font-family: "DM Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--color-text-body);
}

.layout {
  width: 100%;
  min-width: 1200px;
  height: 100%;
}

/* HEADER */
.layout__header {
  width: 100%;
  height: 6rem;
  padding: 0.25rem 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  position: relative;
  flex-basis: 20%;
  display: flex;
}

.logo__title {
  font-size: 2rem;
  color: var(--color-text-logo);
}

.search__bar {
  display: flex;
  flex-direction: row;
  flex-basis: 40%;
}

/* BOTON LOGIN */
.login__btn {
  display: inline-block;
  position: relative;
  cursor: pointer;
  z-index: 1;
  border: none;
  overflow: hidden;
  padding: 1rem 0;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: var(--color-text-logo);
  box-shadow: 0 2px 10px -4px var(--color-border);
  border-radius: 20px;
  font-weight: 500;
  text-align: center;
  color: var(--color-bg-dark);
  transition: all 150ms ease-in-out;
}

.login__btn:hover {
  background-color: var(--color-bg-btn-orange);
}

/* ESTILOS PARA EL MENU */
.button-left {
  position: relative;
}
.menu__item {
  position: relative;
  width: 4.5rem;
  height: 4.5rem;
  margin-right: 3rem;
  z-index: 2;
}

/*IMG AVATAR*/
.avatar__img {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  object-fit: cover;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

/* ESTILOS PARA EL SUBMENU */
.user__submenu {
  position: absolute;
  min-width: 15rem;
  padding: 1.5rem 1rem;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: var(--color-secondary);
  box-shadow: 0px 13px 48px 0 rgba(0, 0, 0, 15%);
  top: 5.2rem;
  right: -5rem;
}

.submenu__item {
  margin-left: 1rem;
  margin-bottom: 1rem;
  transition: all 300ms ease-in-out;
}

.submenu__item:hover {
  transform: translateX(1rem);
}

.submenu__item:nth-child(1) {
  transition-delay: 100ms;
}

.submenu__item:nth-child(2) {
  transition-delay: 200ms;
}

.submenu__item:nth-child(3) {
  transition-delay: 300ms;
}

.submenu__link {
  color: var(--color-bg-dark);
}

.submenu__link:hover {
  color: var(--color-banner);
  text-decoration: underline;
}

/* ESTILOS DEL TOOL BUSCADOR */
.search__bar {
  display: flex;
}

.search__boton {
  width: 4rem;
  height: 4rem;
  overflow: hidden;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
.search__btn {
  width: 100%;
  height: 100%;
  background-color: var(--color-bg-btn-orange);
  cursor: pointer;
}

.search__tematica {
  border: 1px solid var(--color-border);
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.search__tematica:hover {
  border: 1px solid var(--color-description);
}

.search__ciudad {
  border-bottom: 1px solid var(--color-border);
  border-left: none;
  border-top: 1px solid var(--color-border);
  border-right: 1px solid var(--color-border);
}

.search__ciudad:hover {
  border: 1px solid var(--color-description);
}

.search__input {
  width: 20rem;
  padding: 0 1rem;
}

.search__input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

/* FOOTER */

.layout__footer {
  width: 100%;
  height: 5rem;
  border-top: 1px solid var(--color-border);
  padding: 0.25rem 15rem;
  font-size: 1.7rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer__copyright {
  flex-basis: 50%;
}

.copyright__text {
  display: inline-block;
}

.footer__links {
  flex-basis: 50%;
}

.footer__flinks {
  position: relative;
  display: flex;
  justify-content: flex-end;
  gap: 3.5rem;
}

.flinks__title {
  color: var(--color-text-body);
  transition: all 300ms ease-in-out;
}

.flinks__title:hover {
  color: var(--color-banner);
}

.flinks__item {
  display: inline-block;
  position: relative;
}

.flinks__item--separator::after {
  content: "";
  height: 4px;
  width: 4px;
  background-color: var(--color-text-body);
  border-radius: 50%;
  position: absolute;
  top: 46%;
  right: -12%;
}

/* ESTILOS GENERALES DEL BOTON */

.button-text {
  margin-right: 2.5rem;
}

/* ESTILOS DE SPINNER */
.spinner {
  position: absolute;
  width: 36px;
  height: 36px;
  border: 5px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  border-left-color: var(--color-primary);
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
