.layout__crear-evento {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 0;
  height: 100vh;
}

/* ESTILOS DEL HEADER */
.crear-evento__header {
  margin: 2rem 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.crear-evento__title {
  display: inline-block;
  color: var(--color-banner);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 5.5rem;
  font-weight: 700;
}

/* ESTILOS DEL FORMULARIO */
.crear-evento__formulario {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formulario__evento {
  position: relative;
  width: 100rem;
  height: 75rem;
  padding: 3rem 4rem;
  background-color: var(--color-primary);
  color: var(--color-sidebar);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--color-border);
}

.formulario__top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 1rem;
}

.formulario__foto,
.spinner__editar {
  position: relative;
  width: 45rem;
  height: 35rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.foto__formulario {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
  top: 0;
  left: 0;
}

.foto__label {
  font-size: 45rem;
  cursor: pointer;
}

.otros-datos__content {
  margin-right: 1.5rem;
  display: flex;
  flex-direction: column;
}

.otros-datos__item {
  position: relative;
  margin-bottom: 2.5rem;
}

.otros-datos__item:nth-child(5) {
  margin-bottom: 0.7rem;
}

.otros-datos__item:nth-child(6) {
  margin-bottom: 0;
}

.otros-datos__input,
.formulario__textarea {
  position: relative;
  width: 30rem;
  height: 4rem;
  display: block;
  background-color: rgba(0, 0, 0, 0.4);
  border: none;
  border-radius: 10px;
  color: var(--color-secondary);
  font-size: 1.5rem;
  padding: 1rem 1.2rem;
  outline: none;
  box-shadow: 0 1rem 1rem -8px rgba(0, 0, 0, 0.1);
  line-height: 2.2rem;
}

.otros-datos__input:focus {
  border: 0.2px solid var(--color-secondary);
}

.form__label {
  position: absolute;
  top: 1rem;
  left: 1.5rem;
  color: var(--color-company);
  pointer-events: none;
  transition: all 300ms ease-in-out;
}

.form__label-fecha-hora,
.form__label-textarea {
  font-size: 1.3rem;
  color: var(--color-bg-btn);
}

.form__label-textarea {
  margin-bottom: 0.5rem;
}

.otros-datos__input:focus ~ label,
.otros-datos__input:not(:placeholder-shown) ~ label {
  top: -2rem;
  left: 0;
  z-index: 1;
  font-size: 1.3rem;
  color: var(--color-secundary);
}

.form__input::-webkit-input-placeholder {
  color: transparent;
}

.form__input::-moz-input-placeholder {
  color: transparent;
}

.detalles__textarea {
  position: relative;
  display: flex;
  flex-direction: column;
}

.formulario__textarea {
  width: 70rem;
  height: 25rem;
  resize: none;
}

::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  filter: invert(1) hue-rotate(180deg); /* Cambia el color del icono */
}

.formulario__detalles {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

/* ESTILOS DEL BOTON */
.formulario__botones {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.formulario__btn,
.formulario__btn-cancelar {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  z-index: 1;
  border: none;
  overflow: hidden;
  padding: 1.5rem 0;
  padding-left: 1.5rem;
  padding-right: 2rem;
  background-color: var(--color-secondary);
  border-radius: 20px;
  font-weight: 500;
  text-align: center;
  color: var(--color-primary);
  transition: all 300ms ease-in-out;
}

.formulario__btn:hover {
  background-color: var(--color-bg-btn);
  color: var(--color-bg-dark);
}

.formulario__btn-cancelar:hover {
  background-color: var(--color-bg-btn-orange);
  color: var(--color-bg-dark);
}
