.layout__eventos,
.spinner__container {
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding: 0;
  height: 100%;
  min-height: 100vh;
}

.layout__eventos::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 60rem;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--color-banner);
  z-index: -1;
}

.spinner__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ESTILO DEL HEADER DE LA PAGINA DEL LISTADO DE EVENTOS */
.eventos__header {
  max-width: var(--mx-width);
  margin: 2rem auto;
  overflow: hidden;
  text-align: center;
}

.eventos__title {
  display: inline-block;
  color: var(--color-bg-btn);
  font-size: 5.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

/* ESTILO DE LAS TARJETAS Y SWIPPER */
.swiper-slide {
  display: flex;
  justify-content: center;
}

.two-cards {
  justify-content: space-evenly;
}

.swiper-button-prev,
.swiper-button-next {
  width: 5rem;
  height: 5rem;
  background-color: transparent;
  background-image: url(../../img/flecha-azul.png);
  background-size: cover;
}

.swiper-button-prev {
  transform: rotateY(180deg);
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  cursor: not-allowed;
  pointer-events: inherit;
}

.eventos__link {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 0 0 30px 30px;
  transition: all 500ms ease-in-out;
}

.eventos__link:hover {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 10%);
}

.eventos__evento {
  width: 74%;
}

.evento__container-img {
  width: 100%;
  border-radius: 30px 30px 0 0;
  overflow: hidden;
}

.evento__imagen {
  width: 100%;
  transition: all 1000ms ease-in-out;
}

.evento__imagen:hover {
  transform: scale(1.1);
}

.evento__content {
  width: 100%;
  background-color: var(--color-secondary);
  border: 1px solid var(--color-bg-projects);
  padding: 2.2rem;
  border-radius: 0 0 30px 30px;
}

.evento__title {
  color: var(--color-title);
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 1.5rem;
}

.evento__tags {
  color: var(--color-text-body);
  font-size: 1.7rem;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
}

.evento__tag-bottom {
  margin: 1.5rem 0;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

.evento__tag-fecha {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 2rem;
  gap: 1rem;
}

.evento__tag-inscritos {
  text-align: center;
  margin-right: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 2rem;
  gap: 1rem;
}

.evento__tag-tematica {
  margin: 1rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.evento__tag-ciudad {
  margin: 1rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

/* ESTILO DEL MENSAJE CUANDO NO EXISTEN EVENTOS */
.eventos__mensaje {
  text-align: center;
  font-size: 5rem;
  color: var(--color-secondary);
}

/* ESTILOS PARA ORDENAR */
.ordenar__inscritos {
  position: relative;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.ordenar__title {
  margin-right: 1rem;
  color: var(--color-secondary);
  display: flex;
  align-items: center;
  gap: 1rem;
}

.ordenar__btn {
  position: relative;
  cursor: pointer;
  background-color: var(--color-description);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  color: var(--color-secondary);
  border: none;
  width: 3rem;
  border-radius: 5px;
  transition: all 300ms ease-in-out;
}

.ordenar__btn:hover:not(.active__ordenar) {
  background-color: var(--color-hover-dark);
  transform: scale(1.1);
}

.active__ordenar {
  cursor: not-allowed;
  background-color: var(--color-bg-btn);
  color: var(--color-bg-dark);
  border: 1px dotted var(--color-bg-btn-orange);
  box-shadow: none;
}

.ordenar__btn span {
  display: inline-block;
}

.cambiar__escala {
  animation-name: cambiar-escala;
  animation-duration: 2s; /* Duración de la animación */
  animation-iteration-count: infinite; /* Animación infinita */
  animation-direction: alternate; /* Alterna entre agrandar y reducir */
}

@keyframes cambiar-escala {
  from {
    transform: scale(0.9); /* Reducir tamaño inicial */
  }
  to {
    transform: scale(1.2); /* Aumentar tamaño */
  }
}
